.card {
  /* background: rgb(34, 178, 207);
  background: linear-gradient(
    90deg,
    rgba(34, 178, 207, 1) 24%,
    rgba(59, 58, 73, 1) 100%
  ); */
  background: #485563; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #29323c,
    #485563
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #29323c,
    #485563
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
